# Carga de datos a través de la función read_csv

In [57]:
import pandas as pd
import numpy as np
import os

In [58]:
df = pd.read_csv(r"C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\datasets\titanic\titanic3.csv")

In [59]:
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

ALGUNOS PARAMETROS QUE AÑADIR --> df2 = read.csv (filepath_or_buffer = r"C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\datasets\titanic\titanic3.csv", sep = ",", econding='windows-1251', dtype={"nombrecolumna": np.string, "otronombrecol": np.float64}, header = 0, names= {"nombrecol1", "nombrecol2"}, skiprows = None, skip_blank_lines = False, na_filter = False)

In [60]:
mainpath= r"C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\datasets\titanic"
filename= "titanic3.csv"
fullpath= os.path.join(mainpath, filename)

In [61]:
df2 = pd.read_csv(fullpath)

# Carga de datos con la función OPEN

In [7]:
data3 = open(r"C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\datasets\customer-churn-model\Customer Churn Model.txt", "r")

In [8]:
cols = data3.readline().strip().split(',')
n_cols = len(cols)

In [9]:
count = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [10]:
for line in data3:
    values = line.strip().split(',')
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    count += 1

print ("El dataset tiene %d filas y %d columnas" %(count, n_cols))

El dataset tiene 3333 filas y 21 columnas

In [11]:
df3 = pd.DataFrame(main_dict)

In [12]:
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

# Saber si una ruta es correcta 
os.path.exists('C:\\Windows') 
os.path.exists('C:\\some_made_up_folder')
os.path.isdir('C:\\Windows\\System32')
os.path.isfile('C:\\Windows\\System32')
os.path.isdir('C:\\Windows\\System32\\calc.exe')
os.path.isfile('C:\\Windows\\System32\\calc.exe')

True
False
True
False
False
True

 # Lectura y escritura de ficheros

In [126]:
infile = (r"C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\datasets\customer-churn-model\Customer Churn Model.txt")
outfile = (r"C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\datasets\customer-churn-model\CLO Customer Churn Model.txt")

In [127]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(',')
            outfile1.write('\t'.join(fields))
            outfile1.write('\n')

In [128]:
df4 = pd.read_csv(outfile, sep = '\t')

In [130]:
df4.head(5)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL

In [63]:
medals_url = 'poner aqui URL'

In [66]:
#medals_data = pd.read_csv(medals_url)

In [70]:
''''import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
r.status
response = r.data

import csv
cr = csv.reader(response) --> esto lee el csv

for row in cr: 
with open(cr, "r") as infile1:
    with open(nuevoarchivo, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(',')
            nuevoarchivo.write('\t'.join(fields))
            nuevoarchivo.write('\n')
    
'''

"'import urllib3\nhttp = urllib3.PoolManager()\nr = http.request('GET', medals_url)\nr.status\nresponse = r.data\n"

# Leer Ficheros XLS y XLSX

In [85]:
from os import path

In [131]:
print(path.abspath('titanic3.xls')) #Estas lineas no son necesarias en verdad

C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\MyScripts\titanic3.xls

In [132]:
mainpath= r"C:\Users\GL752WV\AAnacondaProyects\python-ml-couse\datasets\titanic"
filename= "titanic3.xls"
fullpath= os.path.join(mainpath, filename)

In [133]:
titanic2 = pd.read_excel(fullpath, 'titanic3') ##titanic3 aqui indica la pestaña de la hoja Excel

In [134]:
titanic3 = pd.read_excel(fullpath)

In [135]:
titanic3.to_csv(mainpath + '\TitaniCLO.csv')

In [136]:
titanic3.to_excel(mainpath + '\TitaniCLO.xls')

In [137]:
titanic3.to_json(mainpath + '\TitaniCLO.json')

# Leer XLS con transformación y urllib3

In [1]:
#Importamos la libreria y conectamos con los datos
import urllib3

http = urllib3.PoolManager()
r = http.request('GET', medals_url)
r.status
response = r.data

#El objeto de response viene en binario, se convierte a string descodificandolo en UTF-8
str_data = response.decode('utf-8')

#Dividimos el string en un array de filas, separandolo por intros
lines = str_data.split('\n')

#La primera linea contiene la cabecera, asi que la extraemos
col_names = lines[0].split(',')
n_cols = len(col_names)

#Generamos un diccionario vacio donde volcar la información procesada desde la URL
counter=0
main_dict={}
for col in col_names:
    main_dict[col] = []

#Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
for line in lines:
    if (counter>0):
        #Dividimos cada string por las comas como elemento separador
        values = line.strip().split(',')
        #Añadimos cada valor a su respectiva columna del diccinario
        for i in range(len(col_names)):
            main_dict[col_names[i]].append(values[i])
    counter += 1

print ('El dataset tiene %d filas y %d columnas' %(counter, n_cols))

#Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
medals_df = pd.DataFrame(main_dict)
meldas_df.head()

#Elegimos donde guardarlo
mainpath = 'El que quieras'
filename = 'Nombre.'
fullpath = os.path.join(mainpath, filename)

#Lo guardamos como CSV, JSON o Excel segun queramos
medals_df.to_csv(fullpath+'csv')
medals_df.to_json(fullpath+'json')
medals_df.to_excel(fullpath+'xls')

NameError: name 'medals_url' is not defined